<% include header %>

<form class="form-horizontal" method="post" action="/editUsername" id="userForm">

  <div class="form-group">
    <label for="newUser"
      class="col-sm-offset-2 col-sm-3 control-label">New Username*:</label>

    <div class="col-sm-4">
      <input type="text" class="form-control" name="newUser"
        id="newUser" placeholder="Enter a new Username" required>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7">
      <button id="change-user-btn"
        type="submit" class="btn btn-primary">Change Username</button>
    </div>
  </div>
</form>

<form class="form-horizontal" method="post" action="/editPassword" id="passForm">

  <div class="form-group">
    <label for="newPass"
      class="col-sm-offset-2 col-sm-3 control-label">New Password*:</label>

    <div class="col-sm-4">
      <input type="password" class="form-control" name="newPass"
        id="newPass" placeholder="Enter New Password" required>
    </div>

  </div>

  <div class="form-group">
    <label for="newPassConfirm"
      class="col-sm-offset-2 col-sm-3 control-label">Confirm New Password*:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="newPassConfirm"
        id="newPassConfirm" placeholder="Confirm New Password" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7">
      <button id="change-pass-btn"
        type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7">
      <p id="passMsg" class="help-block"><%= msg %></p>
    </div>
  </div>

</form>

<script src="/js/verifyPassword.js"></script>
<% include footer %>
