<html>
<head>
  <meta charset="utf-8">
  <title>NIDD Viewer</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nidd-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/index" class="navbar-brand">NIDD Viewer</a>
      </div>
      <div class="collapse navbar-collapse" id="nidd-nav">
        <ul class="nav navbar-nav">
          <li><a href="/search">Search</a></li>
          <li><a href="/camera">View Camera</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><%= user.username %></a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1>NIDD</h1>
      <h2><%= title %></h2>
    </div>
